################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/warno_api_v2/v17
/.vs
/warno_api_v2/x64/Debug
/.gitignore
/warno_api_v2/directories.txt
